.App {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background: var(--main-bg-color)
}


::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
    mix-blend-mode: normal;
    border-radius: 10px;
    background: #CCCCCC; /* color of the scroll thumb */
    border: 3px solid white; /* creates padding around scroll thumb */
}

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #555; !* Handle on hover *!*/
/*}*/
